@font-face {
  font-family: font1;
  src: url("/fonts/BruceForeverRegular-X3jd2.ttf");
}
@font-face {
  font-family: font2;
  src: url("/fonts/toxigenesis bd.otf");
}

/* Add your styles here */
